.home {
  width: 1100px;
  margin: 0 auto;
}
.search-create-container {
  display: flex;
  justify-content: space-between; /* Aligns children (search bar and button) to the edges */
  align-items: center; /* Centers children vertically */
  margin-bottom: 20px; /* Adds some space below the container */
}